@import url('https://fonts.googleapis.com/css?family=Arvo');

html, body {
	margin: 0;
	padding: 0;
	background-color: #83bebd /*LightBlue*/ ;
	font-size: 20px;
}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: #ffb208 /*orangeish*/;
	padding-left: 15px;
	padding-bottom: 25px;
}

.header {
	width: 100%;
	background-color: #524c31 /*Brownish*/;
	opacity: 0.75;
	height: 5rem;
	margin: 0;
	padding: .10% 2% 2% 2%;
}

.intro {
	background-color: #316d6a /*DarkBlue*/;
	padding: 3%;
	margin: 3%;
	font-family: 'Arvo', sans-serif;
	font-size: .95rem;
	color: #ffb208;
	border-style: solid;
	border-color: #f6eeee; /*Whiteish*/
	border-width: 1px;

}

#intro1 {
	width: 50%;
}

h2 {
	font-size: 1.5rem;
	color: #ffb208;
}
